@import url(https://fonts.googleapis.com/css?family=Montserrat:200,400,700);
@import url(http://reset5.googlecode.com/hg/reset.min.css);


body {
  background: #e04c78;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e04c78, #45f9db);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e04c78, #45f9db);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-x: hidden;
  width: 100%;
}

.cover {
  /* overflow: hidden; */

  /*background-color: white;*/
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  /*color: white; opacity: 1;*/
  position: fixed;
  text-align: justify;
  vertical-align: middle;
  padding: 1em 1em;
  width: 75%;
}

.cover h1 {
  padding-top: 0em;
  margin-top: 0em;
  font-size: 1.2rem;
  padding-left: 1rem;
  color: white;
}

.cover p {
  font-size: 1.2em;
  padding-left: 0.5rem;
  color: white;
  z-index: 2;
}

.cover a {
  color: #29496E;
  text-decoration: none; }

.cover a:hover {
  color: #2988BC; }

.cover p.instructions {
  font-weight: 400; }

.social {
  padding-bottom: 0.7em;
  padding-left:1rem;
}

.cover.events{

}

a.social1.bold {
  font-weight:600;
}

#terrainlanders {
  width: 100%;
  float: right;
}

p.caption {
  font-size: 0.2em;
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 1rem; }
  }

@media screen and (max-width: 700px) {
  body {
    font-size: 0.7em;
 }
 .cover {
   width: 90% !important;
   padding: 0em !important;
 }
}
