@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://reset5.googlecode.com/hg/reset.min.css);
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #5A5B5E; }
  body p {
    padding: 1em 2em;
    margin: 0 auto;
    max-width: 68%; }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
  max-width: 90%; }
