
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://reset5.googlecode.com/hg/reset.min.css);
body {
  background: #d8412F;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #d8412F, #fe7a47);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #d8412F, #fe7a47);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.cover {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  position: fixed;
  text-align: justify;
  vertical-align: middle;
  padding: 1.5em 1.5em;
  width: 75.8%;
  margin: 0 auto;

  }
  .cover h1 {
    padding-top: 1em;
    font-size: 1em;
    padding-left: 1rem;
  }
  .cover p {
    font-size: 1em;
    padding-left: 1rem;
  }
  .cover a {
    color: #29496E;
    text-decoration: none;}

  .cover a:hover {
    color: #2988BC; }
  .cover p.instructions {
    font-weight: 400; }

  span.social{
    padding-top: 2em;
    padding-left: 1rem;
  }

@media screen and (max-width: 880px) {
  body {
    font-size: 10px; } }
