body{
margin:0;
padding:0;
color:white;
}

.thermospherea, .thermosphereb, .mesosphere, .meso-strato, .stratosphere, .tropospherea, .troposphereb, .lithospherea,
.lithosphereb, .hydrosphere, 
h1, h2, h3, p, p2, p3, p4, p5, p6, p7, p8, p9, p10, p11, p12, p13, p14, p15, p16, p17, p18{
position: fixed;
}


h1{
font-family:sans-serif;
color:#fff;
top:50px;
width:600px;
text-align:left;
left:50%;
margin-left: -400px;
}

h2{
font-family:sans-serif;
top:100px;
width:600px;
left:50%;
margin-left:-300px;
}

h3{
font-family:sans-serif;
top:50px;
width:600px;
text-align:center;
left:50%;
margin-left:-300px;
}



p{
font-family:sans-serif;
color: #000;
background-color: #FFF;
top:170px;
left:50%;
width:600px;
height:40px
margin-left:0px;
}

p2{
font-family:sans-serif;
color: #000;
background-color: #FFF;
top:220px;
left:0%;
width:480px;
margin-left:0px;
}

p3{
font-family:sans-serif;
color: #000;
background-color: #FFF;
top:450px;
left:68%;
width:350px;
margin-left:0px;
}




p4{
font-family:sans-serif;
color: #000;
background-color: #FFF;
top:100px;
left:68%;
width:600px;
height:40px
margin-left:0px;
}

p5{
font-family:sans-serif;
color: #000;
background-color: #FFF;
top:140px;
left:50%;
width:480px;
margin-left:0px;
}

p6{
font-family:sans-serif;
color: #000;
background-color: #FFF;
top:470px;
left:0%;
width:700px;
margin-left:0px;
}





p7{
font-family:sans-serif;
color: #000;
background-color: #FFF;
top:170px;
left:50%;
width:600px;
height:40px
margin-left:0px;
}

p8{
font-family:sans-serif;
color: #000;
background-color: #FFF;
top:220px;
left:0%;
width:480px;
margin-left:0px;
}

p9{
font-family:sans-serif;
color: #000;
background-color: #FFF;
top:450px;
left:68%;
width:350px;
margin-left:0px;
}





p10{
font-family:sans-serif;
color: #000;
background-color: #FFF;
top:300px;
left:0%;
width:600px;
height:40px
margin-left:0px;
}

p11{
font-family:sans-serif;
color: #000;
background-color: #FFF;
top:325px;
left:68%;
width:480px;
margin-left:0px;
}

p12{
font-family:sans-serif;
color: #000;
background-color: #FFF;
top:360px;
left:30%;
width:500px;
margin-left:0px;
}




p13{
font-family:sans-serif;
color: #000;
background-color: #FFF;
top:170px;
left:50%;
width:600px;
margin-left:0px;
}

p14{
font-family:sans-serif;
color: #000;
background-color: #FFF;
top:260px;
left:0%;
width:480px;
margin-left:0px;
}

p15{
font-family:sans-serif;
color: #000;
background-color: #FFF;
top:300px;
left:60%;
width:400px;
margin-left:0px;
}





p16{
font-family:sans-serif;
color: #000;
background-color: #FFF;
top:300px;
left:50%;
width:700px;
margin-left:0px;
}

p17{
font-family:sans-serif;
color: #000;
background-color: #FFF;
top:200px;
left:0%;
width:480px;
margin-left:0px;
}

p18{
font-family:sans-serif;
color: #000;
background-color: #FFF;
top:450px;
left:70%;
width:390px;
margin-left:0px;
}





.thermospherea{
width:400px;
height:378px;
left:10%;
top:90%;
background:url(images/thermosphereb.png);
margin-top:-170px;
margin-left:-200px
z-index:-2;
}

.thermosphereb{
width:825px;
height:379px;
left:60%;
top:90%;
background:url(images/thermospherea.png);
margin-top:-172px;
margin-left:-412px
z-index:-1;
}


.mesosphere{
width:825px;
height:379px;
left:20%;
top:20%;
background:url(images/mesosphere.png);
margin-top:-91px;
margin-left:-102px;
z-index:-1;
}



.meso-strato{
width:240px;
height:800px;
left:10%;
top:50%;
background:url(images/meso-strato.png);
margin-top:-330px;
margin-left:-120px;
z-index:-2;
}

.stratosphere{
width:825px;
height:379px;
left:40%;
top:50%;
background:url(images/stratosphere.png);
margin-top:-91px;
margin-left:-102px;
z-index:-1;
}

.tropospherea{
width:300px;
height:312px;
left:10%;
top:40%;
background:url(images/tropospherea.png);
margin-top:-156px;
margin-left:-150px;
z-index:-1;
}

.troposphereb{
width:600px;
height:490px;
left:60%;
top:40%;
background:url(images/troposphereb.png);
margin-top:-312px;
margin-left:-245px;
z-index:-1;
}

.lithospherea{
width:800px;
height:713px;
left:10%;
top:30%;
background:url(images/lithospherea.png);
margin-top:-413px;
margin-left:-190px;
z-index:-1;
}

.lithosphereb{
width:750px;
height:739px;
left:50%;
top:30%;
background:url(images/lithosphereb.png);
margin-top:-413px;
margin-left:-190px;
z-index:-1;
}

.hydrosphere{
width:825px;
height:379px;
left:15%;
top:40%;
background:url(images/hydrosphere.png);
margin-top:-91px;
margin-left:-102px;
z-index:-1;
}